{% extends "base.html" %}
{% set page_title="Shows" %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<h2>{{ page_title }}</h2>
<p>
    Choose from one of the following links to view graphs representing data
    collected from each broadcasted show.
</p>

<div class="info">
    <div class="pages">
        <ul class="list-group page-list">
            <li class="list-group-item">
                <a href="{{ url_for('shows.all_scores') }}">All Scores</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.bluff_counts') }}">Bluff the Listener Counts</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.counts_by_day_of_month') }}">Counts by Day of Month</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.counts_by_year') }}">Counts by Year</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.monthly_aggregate_score_heatmap') }}">Monthly Aggregate Score Heatmap</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.monthly_average_score_heatmap') }}">Monthly Average Score Heatmap</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.not_by_job_vs_bluff_win_ratios') }}">Not My Job vs Bluff the Listener Win Ratios</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.panel_gender_mix') }}">Panel Gender Mix</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.show_types') }}">Show Types by Year</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.show_types_heatmap') }}">Show Types Heatmap</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
