{% extends "base.html" %}
{% set page_title="Scorekeepers" %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<h2>{{ page_title }}</h2>
<p>
    Choose from one of the following links to view graphs representing data
    collected for show scorekeepers.
</p>

<div class="info">
    <div class="pages">
        <ul class="list-group page-list">
            <li class="list-group-item">
                <a href="{{ url_for('scorekeepers.guest_scorekeeper_counts_by_year') }}">Guest Scorekeeper Appearance Counts by Year</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('scorekeepers.show_scorekeeper_types') }}">Show Scorekeeper Types by Year</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('scorekeepers.show_scorekeepers_heatmap') }}">Show Scorekeepers Heatmap</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
