{% extends "base.html" %}
{% set page_title="Not My Job vs Bluff the Listener Win Ratios" %}
{% block title %}{{ page_title }} | Shows{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('shows.index') }}">Shows</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<h2>{{ page_title}}</h2>

{% if years and not_my_job and bluff %}
<p>
    This chart displays the win rate percentage of Not My Job guests and Bluff
    the Listener contestants for each year.
</p>
<p>
    Not My Job guest wins are counted when a guest answers two or more questions
    correct or when a scorekeeper grants an exception. Only wins from regular
    shows and from unique Not My Job segments that only aired as part of Best Of
    shows.
</p>
<p>
    Bluff the Listener wins are counted when a listener contestant chooses the
    panelist with the correct story. Only wins from regular shows and from
    unique Bluff the Listener segments that only aired as part of Best Of shows.
</p>

<div class="info py-2">
    <div id="ww-chart"></div>
</div>

<script>
    // Set default colors
    let axisColor = "#000";
    let backgroundColor = "#fff";
    let colorway = {{ colorway_light | safe }};
    let notMyJobHoverColor = "#fff";
    let bluffHoverColor = "#fff";
    let fontList = "'IBM Plex Sans', 'Helvetica Neue', sans-serif";

    // Change colors if in dark mode
    const getStoredTheme = () => localStorage.getItem("theme");
    const storedTheme = getStoredTheme();
    if ((window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) && (storedTheme === "dark" || storedTheme === "auto")) {
        axisColor = "#fff";
        backgroundColor = "#161616"; // IBM Gray 100
        colorway = {{ colorway_dark | safe }};
        notMyJobHoverColor = "#161616"; // IBM Gray 100
        bluffHoverColor = "#fff";
    }

    // Set y-axis dtick value
    let yAxisdTick = 2;
    let years = {{ years | safe }};
    
    let data = [
        {
            x: years,
            y: {{ not_my_job | safe }},
            name: "Not My Job",
            type: "scatter",
            hoverlabel: {
                font: { color: notMyJobHoverColor }
            }
        },
        {
            x: years,
            y: {{ bluff | safe }},
            name: "Bluff the Listener",
            type: "scatter",
            hoverlabel: {
                font: { color: bluffHoverColor }
            }
        }
    ];

    let layout = {
        autosize: true,
        colorway: colorway,
        font: { family: fontList },
        hoverlabel: {
            font: {
                family: fontList,
                size: 16,
            },
        },
        hovermode: "x",
        legend: {
            font: {
                color: axisColor,
                family: fontList,
                size: 15
            },
            orientation: "h",
            y: 1.025,
            x: 0,
        },
        margin: {
            l: 60,
            r: 60,
            t: 48,
            b: 68
        },
        showlegend: true,
        paper_bgcolor: backgroundColor,
        plot_bgcolor: backgroundColor,
        title: {
            automargin: true,
            font: {
                color: axisColor,
                size: 20
            },
            pad: {
                t: 6
            },
            text: "{{ page_title }}",
            x: 0.01
        },
        xaxis: {
            color: axisColor,
            showspikes: true,
            spikecolor: axisColor,
            spikedash: "dot",
            spikemode: "across",
            spikethickness: 1,
            tickangle: -45,
            tickfont: { size: 16 },
            tickmode: "linear",
            title: {
                font: { size: 18 },
                text: "Year"
            }
        },
        yaxis: {
            color: axisColor,
            dtick: 20,
            fixedrange: true,
            range: [0, 105],
            showline: true,
            tickfont: { size: 16 },
            title: {
                font: { size: 18 },
                text: "Win Ratio (%)"
            }
        }
    };

    let config = {
        displaylogo: false,
        modeBarButtonsToRemove: [
            "zoomIn2d",
            "zoomOut2d"
        ],
        responsive: true,
        toImageButtonOptions: {
            filename: "not-my-job-vs-bluff-win-rate",
            height: 800,
            scale: 1,
            width: 1200
        }
    };

    Plotly.newPlot("ww-chart", data, layout, config);
</script>
{% else %}
<p>
    Not enough scoring data is available to generate a graph.
</p>
{% endif %}

{% endblock %}
