{% extends "base.html" %}
{% set page_title="Monthly Aggregate Score Heatmap" %}
{% block title %}{{ page_title }} | Shows{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('shows.index') }}">Shows</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<h2>{{ page_title }}</h2>

{% if years and scores %}
<p>
    This heatmap chart displays aggregate panelist scores on a monthly
    basis.
</p>

<div class="info py-2">
    <div id="ww-chart"></div>
</div>

<script>
    // Set default colors and font list
    let axisColor = "#000";
    let backgroundColor = "#fff";
    let colorscale = {{ colorscale | safe }};
    let fontList = "'IBM Plex Sans', 'Helvetica Neue', sans-serif";

    // Change colors if in dark mode (stored theme overrides prefers-color-scheme)
    const getStoredTheme = () => localStorage.getItem("theme");
    const storedTheme = getStoredTheme();
    let lightMode = storedTheme === "light" || ((storedTheme === "light" || storedTheme === "auto") && (window.matchMedia && window.matchMedia("(prefers-color-scheme: light)").matches));
    let darkMode = storedTheme === "dark" || ((storedTheme === "dark" || storedTheme === "auto") && (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches));
    let retroMode = storedTheme === "retro"
    if (darkMode) {
        axisColor = "#fff";
        backgroundColor = "#262626"; // IBM Gray 100
    } else if (retroMode) {
        backgroundColor = "#c0c0c0";
        fontList = "'IBM Plex Serif', serif";
        colorscale = {{ colorscale_retro | safe }};
    };

    let months = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
    ];
    let years = {{ years | safe }};
    let scores = {{ scores | safe }};

    let data = [
        {
            x: months,
            y: years,
            z: scores,
            colorbar: {
                tickfont: {
                    color: axisColor,
                    family: fontList,
                    size: 16
                }
            },
            colorscale: colorscale,
            hoverongaps: false,
            hovertemplate: "Year: %{y}<br>Month: %{x}<br>Aggregate Score: %{z}<extra></extra>",
            type: "heatmap",
            zsmooth: false
        }
    ];

    let layout = {
        font: { family: fontList },
        hoverlabel: {
            font: {
                family: fontList,
                size: 15
            },
        },
        margin: {
            l: 128,
            r: 64,
            t: 64,
            b: 64
        },
        paper_bgcolor: backgroundColor,
        plot_bgcolor: backgroundColor,
        showlegend: true,
        title: {
            automargin: true,
            font: {
                color: axisColor,
                size: 20
            },
            pad: {
                t: 6
            },
            text: "{{ page_title }}",
            x: 0.01
        },
        xaxis: {
            color: axisColor,
            showline: true,
            tickfont: { size: 14 },
            title: {
                font: { size: 18 },
                text: "Month"
            },
        },
        yaxis: {
            color: axisColor,
            showline: true,
            tickfont: { size: 16 },
            title: {
                font: { size: 18 },
                text: "Year"
            }
        }
    };

    let config = {
        displaylogo: false,
        modeBarButtonsToRemove: [
            "autoScale2d",
            "lasso2d",
            "select2d",
        ],
        responsive: true,
        toImageButtonOptions: {
            filename: "monthly-aggregate-score-heatmap",
            height: 800,
            scale: 1,
            width: 1200
        }
    };

    Plotly.newPlot("ww-chart", data, layout, config);
</script>
{% else %}
<p>
    No scoring data available.
</p>
{% endif %}

{% endblock %}
