{% extends "base.html" %}
{% set page_title="Counts by Day of Month" %}
{% block title %}All | {{ page_title }} | Shows{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('shows.index') }}">Shows</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('shows.counts_by_day_of_month') }}">{{ page_title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">All</li>
    </ol>
</nav>

<h2>{{ page_title }}: All Months</h2>

{% if days %}
<p>
    This chart displays the number of shows that have aired for a specific day
    of month, broken out by regular shows, Best Of shows, repeat shows, and
    repeat Best Of shows.
</p>

<p>
    The chart is set up to initially show the first six months and allows you
    to pan across the data by swiping left or right, or by clicking and
    dragging left or right. Double-tapping or double-clicking will default back
    to the original time span.
</p>

<div class="info py-2">
    <div id="ww-chart"></div>
</div>

<script>
    // Set default colors and font list
    let axisColor = "#000";
    let backgroundColor = "#fff";
    let colorway = {{ colorway_light | safe }};
    let fontList = "'IBM Plex Sans', 'Helvetica Neue', sans-serif";

    // Change colors if in dark mode (stored theme overrides prefers-color-scheme)
    const getStoredTheme = () => localStorage.getItem("theme");
    const storedTheme = getStoredTheme();
    let lightMode = storedTheme === "light" || ((storedTheme === "light" || storedTheme === "auto") && (window.matchMedia && window.matchMedia("(prefers-color-scheme: light)").matches));
    let darkMode = storedTheme === "dark" || ((storedTheme === "dark" || storedTheme === "auto") && (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches));
    let retroMode = storedTheme === "retro";
    if (darkMode) {
        axisColor = "#fff";
        backgroundColor = "#161616"; // IBM Gray 100
        markerColor = "#78a9ff"; // IBM Blue 40
        colorway = {{ colorway_dark | safe }};
    } else if (retroMode) {
        backgroundColor = "#c0c0c0";
        colorway = {{ colorway_retro | safe }};
        fontList = "'IBM Plex Serif', serif";
    }

    let days = {{ days | safe }};
    let regular_shows = {{ regular_shows | safe }};
    let best_of_shows = {{ best_of_shows | safe }};
    let repeat_shows = {{ repeat_shows | safe }};
    let repeat_best_of_shows = {{ repeat_best_of_shows | safe }};

    let data = [
        {
            x: days,
            y: regular_shows,
            name: "Regular",
            type: "bar"
        },
        {
            x: days,
            y: best_of_shows,
            name: "Best Of",
            type: "bar"
        },
        {
            x: days,
            y: repeat_shows,
            name: "Repeat",
            type: "bar"
        },
        {
            x: days,
            y: repeat_best_of_shows,
            name: "Repeat Best Of",
            type: "bar"
        }
    ];

    let layout = {
        autosize: true,
        barmode: "stack",
        colorway: colorway,
        dragmode: "pan",
        font: { family: fontList },
        hoverlabel: {
            font: {
                family: fontList,
                size: 16
            },
        },
        hovermode: "x",
        legend: {
            font: {
                color: axisColor,
                family: fontList,
                size: 16
            },
            traceorder: "normal",
            orientation: "h",
            y: 1.025,
            x: 0,
        },
        margin: {
            l: 60,
            r: 40,
            t: 48,
            b: 90
        },
        paper_bgcolor: backgroundColor,
        plot_bgcolor: backgroundColor,
        showlegend: true,
        title: {
            automargin: true,
            font: {
                color: axisColor,
                size: 20
            },
            pad: {
                t: 6
            },
            text: "{{ page_title }}: All Months",
            x: 0.01
        },
        xaxis: {
            color: axisColor,
            range: [-1, 182],
            showspikes: true,
            spikecolor: axisColor,
            spikedash: "dot",
            spikemode: "across",
            spikethickness: 1,
            tickangle: -45,
            tickfont: { size: 14 },
            title: {
                font: { size: 18 },
                text: "Day of Month"
            },
            type: "category"
        },
        yaxis: {
            color: axisColor,
            dtick: 1,
            fixedrange: true,
            showline: true,
            range: [0, 4.5],
            tickfont: { size: 16 },
            title: {
                font: { size: 18 },
                text: "Shows"
            }
        }
    };

    let config = {
        displaylogo: false,
        displayModeBar: true,
        modeBarButtonsToRemove: [
            "autoScale2d",
            "lasso2d",
            "select2d",
            "zoomIn2d",
            "zoomOut2d"
        ],
        responsive: true,
        toImageButtonOptions: {
            filename: "counts-by-day-months-all",
            height: 800,
            scale: 1,
            width: 1200
        }
    };

    Plotly.newPlot("ww-chart", data, layout, config);
</script>
{% else %}
<p>
    No show count data available.
</p>
{% endif %}

{% endblock %}
