{% extends "base.html" %}
{% block title %}Counts by Day of Month | Shows{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('shows.index') }}">Shows</a></li>
        <li class="breadcrumb-item active" aria-current="page">Counts by Day of Month</li>
    </ol>
</nav>

<h2>Counts by Day of Month</h2>
<p>
    Choose from one of the months below to view the counts of shows by day of
    month for each calendar month.
</p>

<div class="info">
    <div class="shows">
        <ul class="list-group show-list">
            <li class="list-group-item">
                <a href="{{ url_for('shows.counts_by_day_of_month_all') }}">All</a>
            </li>
            {% for month in months %}
            <li class="list-group-item">
                <a href="{{ url_for('shows.counts_by_day_of_month_by_month', month=month) }}">{{ months[month] }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
