{% extends "base.html" %}
{% block title %}{{ info.name }} | Score Breakdown | Panelists{% endblock %}

{% block content %}
<div class="page-breadcrumb hide-on-small-only">
    <ul>
        <li>
            <a href="{{ url_for('index') }}">Home</a>
        </li>
        <li>
            <a href="{{ url_for('panelists_index') }}">Panelists</a>
        </li>
        <li>
            <a href="{{ url_for('panelists_score_breakdown_index') }}">Score Breakdown</a>
        </li>
        <li>
            {{ info.name }}
        </li>
    </ul>
</div>

<h1>{{ info.name }}</h1>

{% if scores and aggregate_scores.scores %}
<p>
    This chart displays the count of how many times
    <a href="{{ stats_url }}/panelists/{{ info.slug }}">{{ info.name }}</a>
    earned a specific number of points at the end of each show.
</p>
<p>The orange line represents
    <a href="{{ url_for('panelists_aggregate_scores') }}">aggregate score
    breakdown</a> for all panelists.
</p>

<p class="hide-on-large-only">
    Note: This chart is best viewed in landscape mode on mobile and tablet devices.
</p>
    
<canvas id="chart"></canvas>
<script>
    // Set the chart background based on prefers-color-scheme
    Chart.plugins.register({
        beforeDraw: function(chartInstance) {
            var ctx = chartInstance.chart.ctx;
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                ctx.fillStyle = '#202124';
            } else {
                ctx.fillStyle = '#fff';
            }
            ctx.fillRect(0, 0, chartInstance.chart.width, chartInstance.chart.height);
        }
    });

    // Define chart data and draw settings
    var barChartData = {
        labels: {{ scores.score|safe }},
        datasets: [{
            backgroundColor: '#1170aa',
            data: {{ scores.count|safe }},
            order: 1,
            label: 'Count',
            yAxisID: 'y-score'
        }, {
            backgroundColor: '#fc7d0b',
            borderColor: '#fc7d0b',
            data: {{ aggregate_scores.counts|safe }},
            fill: false,
            pointRadius: 5,
            label: 'Aggregate Count',
            lineTension: 0.25,
            order: 0,
            type: 'line',
            yAxisID: 'y-aggregate'
        }]
    };

    // Set up and render the chart
    window.onload = function() {
        // Override chart defaults
        Chart.defaults.global.defaultFontFamily = "'IBM Plex Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif";
        Chart.defaults.global.defaultFontSize = 16;
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            // Dark Mode
            Chart.defaults.global.defaultFontColor = '#f5f5f5';
            var gridLinesColor = '#616161';
        } else {
            // Light Mode
            Chart.defaults.global.defaultFontColor = '#212121';
            var gridLinesColor = '#9e9e9e';
        }

        // Calculate y-axis max and tick values
        var yAxisMax = Math.max(...barChartData.datasets[0].data);
        if (yAxisMax >= 20) {
            var yAxisTickStepSize = 5;
        } else if (yAxisMax >= 10) {
            var yAxisTickStepSize = 3;
            yAxisMax++;
        } else {
            var yAxisTickStepSize = 1;
            yAxisMax++;
        }

        // Render chart
        var ctx = document.getElementById('chart');
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                animation: { duration: 0 },
                aspectRatio: 1.618034,
                hover: { animationDuration: 150 },
                layout: {
                    padding: {
                        top: 30,
                        right: 15,
                        bottom: 10,
                        left: 15
                    }                
                },
                legend: { display: false },
                responsive: true,
                responsiveAnimationDuration: 0,
                scales: {
                    xAxes: [{
                        gridLines: { color: gridLinesColor },
                        scaleLabel: {
                            display: true,
                            labelString: 'Score',
                            fontSize: 18,
                            fontStyle: 'bold'
                        },
                        ticks: {
                            minRotation: 0,
                            maxRotation: 0
                        },
                    }],
                    yAxes: [{
                        gridLines: { color: gridLinesColor },
                        id: 'y-score',
                        position: 'left',
                        scaleLabel: {
                            display: true,
                            labelString: 'Count',
                            fontSize: 18,
                            fontStyle: 'bold'
                        },
                        ticks: {
                            beginAtZero: true,
                            suggestedMin: 0,
                            suggestedMax: yAxisMax,
                            stepSize: yAxisTickStepSize
                        }
                    }, {
                        display: true,
                        id: 'y-aggregate',
                        gridLines: { drawOnChartArea: false },
                        position: 'right',
                        scaleLabel: {
                            display: true,
                            labelString: 'Aggregate Count',
                            fontSize: 18,
                            fontStyle: 'bold'
                        }
                    }]
                },
                title: {
                    display: true,
                    fontSize: 20,
                    fontStyle: 'bold',
                    text: "Score Breakdown for {{ info.name|safe }}"
                },
                tooltips: {
                    mode: 'x',
                    intersect: true,
                    titleFontStyle: 'bold'
                }
            }
        });
    };
</script>
{% else %}
<p>
    Not enough scoring data is available for {{ info.name }} to
    generate a graph.
</p>
{% endif %}

{% endblock %}
