{% extends "base.html" %}
{% block title %}Panelists{% endblock %}

{% block content %}
<div class="page-breadcrumb hide-on-small-only">
    <a href="{{ url_for('index') }}">Home</a>
</div>

<h1>Panelists</h1>
<p>
    Choose from one of the following graph types to get a list of available
    panelists.
</p>

<ul class="collection">
    <li class="collection-item">
        <a href="{{ url_for('panelists_aggregate_scores') }}">Aggregate Scores</a>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('panelists_appearances_by_year_index') }}">Appearances by Year</a>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('panelists_score_breakdown_index') }}">Score Breakdown</a>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('panelists_scores_by_appearance_index') }}">Scores by Appearance</a>
    </li>
</ul>

{% endblock %}