{% extends "base.html" %}
{% set page_title="Hosts" %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<h2>{{ page_title }}</h2>
<p>
    Choose from one of the following links to view graphs representing data
    collected for show hosts.
</p>

<div class="info">
    <div class="pages">
        <ul class="list-group page-list">
            <li class="list-group-item">
                <a href="{{ url_for('hosts.guest_host_counts_by_year') }}">Guest Hosts Apperance Counts by Year</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('hosts.show_host_types') }}">Show Host Types by Year</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('hosts.show_hosts_heatmap') }}">Show Hosts Heatmap</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
