{% extends "base.html" %}
{% block title %}Shows{% endblock %}

{% block content %}
<div class="page-breadcrumb hide-on-small-only">
    <ul>
        <li>
            <a href="{{ url_for('index') }}">Home</a>
        </li>
        <li>
            Shows
        </li>
    </ul>
</div>

<h1>Shows</h1>

<p>
    Choose from one of the following links to view graphs representing data
    collected from each broadcasted show.
</p>

<ul class="collection">
    <li class="collection-item">
        <a href="{{ url_for('shows_all_scores') }}">All Scores</a>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('shows_bluff_counts') }}">Bluff the Listener Counts</a>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('shows_monthly_aggregate_score_heatmap') }}">Monthly Aggregate Score Heatmap</a>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('shows_monthly_average_score_heatmap') }}">Monthly Average Score Heatmap</a>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('shows_panel_gender_mix') }}">Panel Gender Mix</a>
    </li>
</ul>

{% endblock %}
