{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h2 id="welcome">Wait Wait Don't Tell Me! Graphs</h2>
<p>
    This site provides a charts and graphs that represent information
    based on the data stored in the
    <a href="{{ stats_url }}">Wait Wait Don't Tell Me! Stats Page</a>
    database.
</p>

<p>
    You view the available charts and graphs using the list below or,
    depending on the device you are viewing this page on, the slide-out
    navigation menu or the menu items in the navigation bar at the top of this
    page.
</p>

<div class="info">
    <div class="pages">
        <ul class="list-group page-list">
            <li class="list-group-item">
                <h3>Locations</h3>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('locations.home_vs_away') }}">Home vs Away</a>
            </li>
        </ul>
    </div>

    <div class="pages">
        <ul class="list-group page-list">
            <li class="list-group-item">
                <h3>Panelists</h3>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('panelists.aggregate_scores') }}">Aggregate Scores Breakdown</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('panelists.appearances_by_year') }}">Appearances by Year</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('panelists.score_breakdown') }}">Score Breakdown</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('panelists.scores_by_appearance') }}">Scores by Appearance</a>
            </li>
        </ul>
    </div>

    <div class="pages">
        <ul class="list-group page-list">
            <li class="list-group-item">
                <h3>Shows</h3>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.all_scores') }}">All Scores</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.bluff_counts') }}">Bluff the Listener Counts</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.counts_by_day_of_month') }}">Counts by Day of Month</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.counts_by_year') }}">Counts by Year</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.monthly_aggregate_score_heatmap') }}">Monthly Aggregate Score Heatmap</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.monthly_average_score_heatmap') }}">Monthly Average Score Heatmap</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.not_by_job_vs_bluff_win_ratios') }}">Not My Job vs Bluff the Listener Win Ratios</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('shows.panel_gender_mix') }}">Panel Gender Mix</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
