{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Wait Wait Don't Tell Me! Graphs</h1>
<p>
    This site provides a charts and graphs that represent information
    based on the data stored in the
    <a href="{{ stats_url }}">Wait Wait Don't Tell Me! Stats Page</a>
    database.
</p>

<p>
    You view the available charts and graphs using the list below or,
    depending on the device you are viewing this page on, the slide-out
    navigation menu or the menu items in the navigation bar at the top of this
    page.
</p>

<ul class="collection with-header">
    <li class="collection-header">
        <h2>Panelists</h2>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('panelists.aggregate_scores') }}">Aggregate Scores</a>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('panelists.appearances_by_year') }}">Appearances by Year</a>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('panelists.score_breakdown') }}">Score Breakdown</a>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('panelists.scores_by_appearance') }}">Scores by Appearance</a>
    </li>
</ul>

<ul class="collection with-header">
    <li class="collection-header">
        <h2>Shows</h2>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('shows.all_scores') }}">All Scores</a>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('shows.bluff_counts') }}">Bluff the Listener Counts</a>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('shows.counts_by_day_of_month') }}">Counts by Day of Month</a>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('shows.counts_by_year') }}">Counts by Year</a>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('shows.monthly_aggregate_score_heatmap') }}">Monthly Aggregate Score Heatmap</a>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('shows.monthly_average_score_heatmap') }}">Monthly Average Score Heatmap</a>
    </li>
    <li class="collection-item">
        <a href="{{ url_for('shows.panel_gender_mix') }}">Panel Gender Mix</a>
    </li>
</ul>

{% endblock %}
