{% extends "base.html" %}
{% block title %}{{ info.name }} | Score Breakdown | Panelists{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.score_breakdown') }}">Score Breakdown</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ info.name }}</li>
    </ol>
</nav>

<h2>{{ info.name }}</h2>

{% if scores %}
<p>
    This chart displays the count of how many times
    <a href="{{ stats_url }}/panelists/{{ info.slug }}">{{ info.name }}</a>
    earned a specific number of points at the end of each show (excluding Best
    Ofs and repeats).
</p>

<div class="info py-2">
    <div id="ww-chart"></div>
</div>

<script>
    // Set default colors
    let axisColor = "#000";
    let backgroundColor = "#fff";
    let markerColor = "#0043ce";
    let fontList = "'IBM Plex Sans', 'Helvetica Neue', sans-serif";

    // Change colors if in dark mode
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        axisColor = "#fff";
        backgroundColor = "#161616";
        markerColor = "#78a9ff";
    }

    // Set y-axis dtick value
    let yAxisdTick = 2;
    let scoreCounts = {{ scores.count|safe }};
    let maxCount = Math.max.apply(Math, scoreCounts);
    if (maxCount <= 3) {
        yAxisdTick = 1;
    }

    let data = [
        {
            x: {{ scores.score|safe }},
            y: scoreCounts,
            name: "Count",
            type: "bar",
            marker: {
                color: markerColor
            }
        }
    ];

    let layout = {
        autosize: true,
        font: { family: fontList },
        hoverlabel: {
            font: {
                family: fontList,
                size: 16
            },
        },
        hovermode: "x",
        legend: {
            font: {
                color: axisColor,
                family: fontList,
                size: 15
            },
            orientation: "h",
            y: 1.025,
            x: 0,
        },
        margin: {
            l: 60,
            r: 60,
            t: 48,
            b: 68
        },
        showlegend: true,
        paper_bgcolor: backgroundColor,
        plot_bgcolor: backgroundColor,
        title: {
            font: {
                color: axisColor,
                size: 20
            },
            text: "Score Breakdown for {{ info.name|safe }}"
        },
        xaxis: {
            color: axisColor,
            showspikes: true,
            spikecolor: axisColor,
            spikedash: "dot",
            spikemode: "across",
            spikethickness: 1,
            tickfont: { size: 16 },
            tickmode: "linear",
            title: {
                font: { size: 18 },
                text: "Score"
            }
        },
        yaxis: {
            color: axisColor,
            dtick: yAxisdTick,
            fixedrange: true,
            tickfont: { size: 16 },
            title: {
                font: { size: 18 },
                text: "Appearances"
            }
        }
    };

    let config = {
        displaylogo: false,
        modeBarButtonsToRemove: [
            "zoomIn2d",
            "zoomOut2d"
        ],
        responsive: true,
        toImageButtonOptions: {
            filename: "score-breakdown-{{ info.slug }}",
            height: 800,
            scale: 1,
            width: 1200
        }
    };

    Plotly.newPlot("ww-chart", data, layout, config);
</script>
{% else %}
<p>
    Not enough scoring data is available for {{ info.name }} to
    generate a graph.
</p>
{% endif %}

{% endblock %}
