{% extends "base.html" %}
{% set page_title="Counts by Year" %}
{% block title %}{{ page_title }} | Shows{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('shows.index') }}">Shows</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<h2>{{ page_title }}</h2>

{% if years %}
<p>
    This chart displays number of regular, Best Of, Repeat, and repeat Best Of
    shows aired for each year.
</p>

<p>
    Show counts for the current year will only include shows that have aired on
    or before the current date.
</p>

<div class="info py-2">
    <div id="ww-chart"></div>
</div>

<script>
    // Set default colors and font list
    let axisColor = "#000";
    let backgroundColor = "#fff";
    let colorway = [
        "#0043ce",
        "#ffc000",
        "#ff7f0e",
        "#198038"
    ];
    let fontList = "'IBM Plex Sans', 'Helvetica Neue', sans-serif";

    // Change colors if in dark mode
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        axisColor = "#fff";
        backgroundColor = "#161616";
        colorway = [
            "#78a9ff",
            "#ffc000",
            "#ff7f0e",
            "#6fdc8c"
        ];
    }

    let showYears = {{ years | safe }};
    let data = [
        {
            x: showYears,
            y: {{ regular | safe }},
            name: "Regular",
            type: "bar"
        },
        {
            x: showYears,
            y: {{ best_ofs | safe }},
            name: "Best Of",
            type: "bar"
        },
        {
            x: showYears,
            y: {{ repeats | safe }},
            name: "Repeat",
            type: "bar"
        },
        {
            x: showYears,
            y: {{ repeat_best_ofs | safe }},
            name: "Repeat Best Of",
            type: "bar"
        }
    ];

    let layout = {
        autosize: true,
        barmode: "stack",
        colorway: colorway,
        font: { family: fontList },
        hoverlabel: {
            font: {
                family: fontList,
                size: 16
            },
        },
        hovermode: "x",
        legend: {
            font: {
                color: axisColor,
                family: fontList,
                size: 16
            },
            traceorder: "normal",
            orientation: "h",
            y: 1.025,
            x: 0,
        },
        margin: {
            l: 60,
            r: 40,
            t: 48,
            b: 90
        },
        paper_bgcolor: backgroundColor,
        plot_bgcolor: backgroundColor,
        showlegend: true,
        title: {
            font: {
                color: axisColor,
                size: 20
            },
            text: "{{ page_title }}"
        },
        xaxis: {
            color: axisColor,
            showspikes: true,
            spikecolor: axisColor,
            spikedash: "dot",
            spikemode: "across",
            spikethickness: 1,
            tickangle: -45,
            tickfont: { size: 14 },
            title: {
                font: { size: 18 },
                text: "Year"
            },
            type: "category"
        },
        yaxis: {
            color: axisColor,
            dtick: 5,
            fixedrange: true,
            range: [0, 60],
            tickfont: { size: 16 },
            title: {
                font: { size: 18 },
                text: "Shows"
            }
        }
    };

    let config = {
        displaylogo: false,
        modeBarButtonsToRemove: [
            "zoomIn2d",
            "zoomOut2d"
        ],
        responsive: true,
        toImageButtonOptions: {
            filename: "show-counts-by-year",
            height: 800,
            scale: 1,
            width: 1200
        }
    };

    Plotly.newPlot("ww-chart", data, layout, config);
</script>
{% else %}
<p>
    No panel data available.
</p>
{% endif %}

{% endblock %}
