{% extends "base.html" %}
{% set page_title = "Bluff the Listener Counts" %}
{% block title %}All | {{ page_title }} | Shows{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('shows.index') }}">Shows</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('shows.bluff_counts') }}">{{ page_title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">All</li>
    </ol>
</nav>

<h2>{{ page_title }}: All Years</h2>

{% if dates %}
<p>
    This chart displays all of the counts of listener contestants choosing the
    correct or incorrect Bluff the Listener stories, broken down by year and
    month.
</p>

<div class="info py-2">
    <div id="ww-chart"></div>
</div>

<script>
    // Set default colors and font list
    let axisColor = "#000";
    let backgroundColor = "#fff";
    let colorway = {{ colorway_light | safe }};
    let fontList = "'IBM Plex Sans', 'Helvetica Neue', sans-serif";

    // Change colors if in dark mode (stored theme overrides prefers-color-scheme)
    const getStoredTheme = () => localStorage.getItem("theme");
    const storedTheme = getStoredTheme();
    let lightMode = storedTheme === "light" || ((storedTheme === "light" || storedTheme === "auto") && (window.matchMedia && window.matchMedia("(prefers-color-scheme: light)").matches));
    let darkMode = storedTheme === "dark" || ((storedTheme === "dark" || storedTheme === "auto") && (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches));
    let retroMode = storedTheme === "retro";
    if (darkMode) {
        axisColor = "#fff";
        backgroundColor = "#262626"; // IBM Gray 100
        markerColor = "#78a9ff"; // IBM Blue 40
        colorway = {{ colorway_dark | safe }};
    } else if (retroMode) {
        backgroundColor = "#c0c0c0";
        colorway = {{ colorway_retro | safe }};
        fontList = "'IBM Plex Serif', serif";
    }

    let showDates = {{ dates | safe }};
    let correct = {{ correct | safe }};
    let incorrect = {{ incorrect | safe }};
    let max_height = Math.ceil(Math.max.apply(Math, correct) + Math.max.apply(Math, incorrect));
    let data = [
        {
            x: showDates,
            y: correct,
            name: "Correct",
            type: "bar"
        },
        {
            x: showDates,
            y: incorrect,
            name: "Incorrect",
            type: "bar"
        }
    ];

    let layout = {
        autosize: true,
        barmode: "stack",
        colorway: colorway,
        font: { family: fontList },
        hoverlabel: {
            font: {
                family: fontList,
                size: 16
            },
        },
        hovermode: "x",
        legend: {
            font: {
                color: axisColor,
                family: fontList,
                size: 16
            },
            traceorder: "normal",
            orientation: "h",
            y: 1.025,
            x: 0,
        },
        margin: {
            l: 60,
            r: 40,
            t: 48,
            b: 90
        },
        paper_bgcolor: backgroundColor,
        plot_bgcolor: backgroundColor,
        showlegend: true,
        title: {
            automargin: true,
            font: {
                color: axisColor,
                size: 20
            },
            pad: {
                t: 6
            },
            text: "{{ page_title }}: All Years",
            x: 0.01
        },
        xaxis: {
            color: axisColor,
            nticks: 12,
            showspikes: true,
            spikecolor: axisColor,
            spikedash: "dot",
            spikemode: "across",
            spikethickness: 1,
            tickangle: -45,
            tickfont: { size: 14 },
            title: {
                font: { size: 18 },
                text: "Show Date"
            },
            type: "category"
        },
        yaxis: {
            color: axisColor,
            dtick: 5,
            fixedrange: true,
            range: [0, max_height + 2],
            showline: true,
            tickfont: { size: 16 },
            title: {
                font: { size: 18 },
                text: "Count"
            }
        }
    };

    let config = {
        displaylogo: false,
        modeBarButtonsToRemove: [
            "autoScale2d",
            "lasso2d",
            "select2d",
        ],
        responsive: true,
        scrollZoom: true,
        toImageButtonOptions: {
            filename: "bluff-counts-year-month",
            height: 800,
            scale: 1,
            width: 1200
        }
    };

    Plotly.newPlot("ww-chart", data, layout, config);
</script>
{% else %}
<p>
    No Bluff the Listener data is currently available.
</p>
{% endif %}

{% endblock %}
