{% extends "base.html" %}
{% block title %}{{ info.name }} | Scores by Appearance | Panelists{% endblock %}

{% block content %}
<div class="page-breadcrumb hide-on-small-only">
    <ul>
        <li>
            <a href="{{ url_for('index') }}">Home</a>
        </li>
        <li>
            <a href="{{ url_for('panelists_index') }}">Panelists</a>
        </li>
        <li>
            <a href="{{ url_for('panelists_scores_by_appearance_index') }}">Scores by Appearance</a>
        </li>
        <li>
            {{ info.name }}
        </li>
    </ul>
</div>

<h1>{{ info.name }}</h1>

{% if shows and scores %}
<p>
    This chart displays scores for all of
    <a href="{{ stats_url }}/panelists/{{ info.slug }}">{{ info.name }}</a>'s
    appearances on the show, excluding Best Of and Repeat Shows.
</p>

<div id="ww-chart"></div>

<script>
    // Set default colors
    let axisColor = "#212121";
    let backgroundColor = "#fff";
    let fontList = "'IBM Plex Sans', 'Helvetica Neue', sans-serif";

    // Change colors if in dark mode
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        axisColor = "#f5f5f5";
        backgroundColor = "#202124";
    }

    let data = [
        {
            x: {{ shows|safe }},
            y: {{ scores|safe }},
            name: "Score",
            showlegend: true,
            type: "bar"
        }
    ];

    let layout = {
        autosize: true,
        font: { family: fontList },
        hoverlabel: {
            font: {
                family: fontList,
                size: 16
            },
        },
        legend: {
            font: {
                color: axisColor,
                family: fontList,
                size: 16
            }
        },
        margin: {
            l: 60,
            r: 40,
            t: 48,
            b: 92
        },
        paper_bgcolor: backgroundColor,
        plot_bgcolor: backgroundColor,
        title: {
            font: {
                color: axisColor,
                size: 20
            },
            text: "Scores by Appearance for {{ info.name|safe }}"
        },
        xaxis: {
            color: axisColor,
            nticks: 12,
            tickangle: -45,
            tickfont: { size: 14 },
            title: {
                font: { size: 18 },
                text: "Show"
            },
            type: "category"
        },
        yaxis: {
            color: axisColor,
            dtick: 2,
            tickfont: { size: 16 },
            range: [0, 22],
            title: {
                font: { size: 18 },
                text: "Score"
            }
        }
    };

    let config = {
        displaylogo: false,
        responsive: true,
        toImageButtonOptions: {
            filename: "scores-by-appearance-{{ info.slug }}",
            height: 800,
            scale: 1,
            width: 1200
        }
    };

    Plotly.newPlot("ww-chart", data, layout, config);
</script>
{% else %}
<p>
    Not enough scoring data is available for {{ info.name }} to
    generate a graph.
</p>
{% endif %}

{% endblock %}
