{% extends "base.html" %}
{% set page_title="Aggregate Scores Breakdown" %}
{% block title %}{{ page_title }} | Panelists{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<h2>{{ page_title }}</h2>

{% if aggregate_scores.scores %}
<p>
    This chart displays the score breakdown for all panelists scores.
</p>

<div class="info py-2">
    <div id="ww-chart"></div>
</div>

<script>
    // Set default colors
    let axisColor = "#000";
    let backgroundColor = "#fff";
    let colorway = {{ colorway_light | safe }};
    let fontList = "'IBM Plex Sans', 'Helvetica Neue', sans-serif";

    // Change colors if in dark mode (stored theme overrides prefers-color-scheme)
    const getStoredTheme = () => localStorage.getItem("theme");
    const storedTheme = getStoredTheme();
    let lightMode = storedTheme === "light" || ((storedTheme === "light" || storedTheme === "auto") && (window.matchMedia && window.matchMedia("(prefers-color-scheme: light)").matches));
    let darkMode = storedTheme === "dark" || ((storedTheme === "dark" || storedTheme === "auto") && (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches));
    let retroMode = storedTheme === "retro";
    if (darkMode) {
        axisColor = "#fff";
        backgroundColor = "#262626"; // IBM Gray 100
        colorway = {{ colorway_dark | safe }};
    } else if (retroMode) {
        backgroundColor = "#c0c0c0";
        colorway = {{ colorway_retro | safe }};
        fontList = "'IBM Plex Serif', serif";
    };

    let data = [
        {
            x: {{ aggregate_scores.scores | safe }},
            y: {{ aggregate_scores.counts | safe }},
            name: "Count",
            showlegend: true,
            type: "bar"
        }
    ];

    let layout = {
        autosize: true,
        colorway: colorway,
        font: { family: fontList },
        hoverlabel: {
            font: {
                family: fontList,
                size: 16
            },
        },
        hovermode: "x",
        margin: {
            l: 60,
            r: 40,
            t: 48,
            b: 60
        },
        paper_bgcolor: backgroundColor,
        plot_bgcolor: backgroundColor,
        showlegend: false,
        title: {
            automargin: true,
            font: {
                color: axisColor,
                size: 20
            },
            pad: {
                t: 6
            },
            text: "{{ page_title }}",
            x: 0.01
        },
        xaxis: {
            color: axisColor,
            showspikes: true,
            spikecolor: axisColor,
            spikedash: "dot",
            spikemode: "across",
            spikethickness: 1,
            tickangle: 0,
            tickfont: { size: 16 },
            tickmode: "linear",
            title: {
                font: { size: 18 },
                text: "Score"
            }
        },
        yaxis: {
            color: axisColor,
            dtick: 100,
            fixedrange: true,
            showline: true,
            tickfont: { size: 16 },
            title: {
                font: { size: 18 },
                text: "Count"
            }
        }
    };

    let config = {
        displaylogo: false,
        modeBarButtonsToRemove: [
            "autoScale2d",
            "lasso2d",
            "select2d",
        ],
        responsive: true,
        toImageButtonOptions: {
            filename: "aggregate-scores",
            height: 800,
            scale: 1,
            width: 1200
        }
    };

    Plotly.newPlot("ww-chart", data, layout, config);
</script>
{% else %}
<p>
    No panel data available.
</p>
{% endif %}

{% endblock %}
