{% extends "base.html" %}
{% set page_title="Home/Remote Studios Shows Heatmap" %}
{% block title %}{{ page_title }} | Locations{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('locations.index') }}">Locations</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<h2>{{ page_title }}</h2>

{% if years and show_numbers and data %}
<p>
    This heatmap chart displays when shows that were recorded at home/remote
    studios broken down by year. All shows are represented in the heatmap,
    including regular, Best Of, repeat and repeat Best Of shows.
</p>
<p>
    Green blocks represent home/remote studio shows and black blocks
    represent all other shows.
</p>

<div class="info py-2">
    <div id="ww-chart"></div>
</div>

<script>
    // Set default colors and font list
    let axisColor = "#000000";
    let backgroundColor = {{ chart_background_light | safe }};
    let colorscale = {{ colorscale_studios | safe }};
    let fontList = "'IBM Plex Sans', 'Helvetica Neue', sans-serif";

    // Change colors if in dark mode (stored theme overrides prefers-color-scheme)
    const getStoredTheme = () => localStorage.getItem("theme");
    const storedTheme = getStoredTheme();
    let lightMode = storedTheme === "light" || ((storedTheme === "light" || storedTheme === "auto") && (window.matchMedia && window.matchMedia("(prefers-color-scheme: light)").matches));
    let darkMode = storedTheme === "dark" || ((storedTheme === "dark" || storedTheme === "auto") && (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches));
    let darkContrastMode = storedTheme === "dark-contrast";
    let retroMode = storedTheme === "retro"
    if (darkMode || darkContrastMode) {
        axisColor = "#ffffff";
        backgroundColor = {{ chart_background_dark | safe }};
    } else if (retroMode) {
        backgroundColor = {{ chart_background_retro | safe }};
        fontList = "'IBM Plex Serif', serif";
        colorscale = {{ colorscale_studios_retro | safe }};
    };

    let showNumbers = {{ show_numbers | safe }};
    let years = {{ years | safe }};
    let locData = {{ data | safe }};

    let data = [
        {
            x: showNumbers,
            y: years,
            z: locData,
            colorbar: {
                tickfont: {
                    color: axisColor,
                    family: fontList,
                    size: 16
                }
            },
            colorscale: colorscale,
            hoverongaps: false,
            hovertemplate: "%{y} Show #%{x}<extra></extra>",
            showscale: false,
            type: "heatmap",
            xgap: 3,
            ygap: 3,
            zsmooth: false
        }
    ];

    let layout = {
        font: { family: fontList },
        hoverlabel: {
            font: {
                family: fontList,
                size: 16
            },
        },
        margin: {
            l: 96,
            r: 64,
            t: 64,
            b: 96
        },
        paper_bgcolor: backgroundColor,
        plot_bgcolor: backgroundColor,
        showlegend: false,
        title: {
            automargin: true,
            font: {
                color: axisColor,
                size: 20
            },
            pad: {
                t: 16
            },
            text: "{{ page_title }}",
            x: 0.01
        },
        xaxis: {
            color: axisColor,
            showgrid: false,
            showline: true,
            tickfont: { size: 14 },
            title: {
                font: { size: 18 },
                text: "Show Number"
            },
        },
        yaxis: {
            color: axisColor,
            showgrid: false,
            showline: true,
            tickfont: { size: 16 },
            title: {
                font: { size: 18 },
                text: "Year"
            }
        }
    };

    let config = {
        displaylogo: false,
        modeBarButtonsToRemove: [
            "autoScale2d",
            "lasso2d",
            "select2d",
        ],
        responsive: true,
        toImageButtonOptions: {
            filename: "home-shows-breakdown-heatmap",
            height: 800,
            scale: 1,
            width: 1200
        }
    };

    Plotly.newPlot("ww-chart", data, layout, config);
</script>
{% else %}
<p>
    No scoring data available.
</p>
{% endif %}

{% endblock %}
