{% extends "base.html" %}
{% block title %}Panel Gender Mix | Shows{% endblock %}

{% block content %}
<div class="page-breadcrumb hide-on-small-only">
    <ul>
        <li>
            <a href="{{ url_for('index') }}">Home</a>
        </li>
        <li>
            <a href="{{ url_for('shows_index') }}">Shows</a>
        </li>
        <li>
            Panel Gender Mix
        </li>
    </ul>
</div>

<h1>Panel Gender Mix</h1>

{% if years %}
<p>
    This chart displays the gender mix of the panels broken out by year.
</p>

<p class="hide-on-large-only">
    Note: This chart is best viewed in landscape mode on mobile and tablet devices.
</p>

<div id="ww-chart"></div>

<script>
    // Set default colors and font list
    let axisColor = "#212121";
    let backgroundColor = "#fff";
    let fontList = "'IBM Plex Sans', 'Helvetica Neue', sans-serif";

    // Change colors if in dark mode
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        axisColor = "#f5f5f5";
        backgroundColor = "#202124";
    }

    let showYears = {{ years|safe }};
    let data = [
        {
            x: showYears,
            y: {{ panel_0f|safe }},
            name: "0F / 3M",
            type: "bar"
        },
        {
            x: showYears,
            y: {{ panel_1f|safe }},
            name: "1F / 2M",
            type: "bar"
        },
        {
            x: showYears,
            y: {{ panel_2f|safe }},
            name: "2F / 1M",
            type: "bar"
        },
        {
            x: showYears,
            y: {{ panel_3f|safe }},
            name: "3F / 0M",
            type: "bar"
        }
    ];

    let layout = {
        autosize: true,
        barmode: "stack",
        colorway: [
            "#ffc000",
            "#1f77b4",
            "#ff7f0e",
            "#70ad47"
        ],
        font: { family: fontList },
        hoverlabel: {
            font: {
                family: fontList,
                size: 16
            },
        },
        legend: {
            font: {
                color: axisColor,
                family: fontList,
                size: 16
            },
            orientation: "h",
            traceorder: "normal",
            x: 0.5,
            xanchor: "center",
            y: -0.133,
            yanchor: "top"
        },
        margin: {
            l: 60,
            r: 40,
            t: 48,
            b: 90
        },
        paper_bgcolor: backgroundColor,
        plot_bgcolor: backgroundColor,
        showlegend: true,
        title: {
            font: {
                color: axisColor,
                size: 20
            },
            text: "Panel Gender Mix"
        },
        xaxis: {
            color: axisColor,
            tickangle: -45,
            tickfont: { size: 14 },
            title: {
                font: { size: 18 },
                text: "Year"
            },
            type: "category"
        },
        yaxis: {
            color: axisColor,
            dtick: 5,
            range: [0, 60],
            tickfont: { size: 16 },
            title: {
                font: { size: 18 },
                text: "Shows"
            }
        }
    };

    let config = {
        displaylogo: false,
        responsive: true,
        toImageButtonOptions: {
            filename: "panel-gender-mix",
            height: 800,
            scale: 1,
            width: 1200
        }
    };

    Plotly.newPlot("ww-chart", data, layout, config);
</script>
{% else %}
<p>
    No panel data available.
</p>
{% endif %}

{% endblock %}
