{% extends "base.html" %}
{% block title %}Panel Gender Mix | Shows{% endblock %}

{% block content %}
<div class="page-breadcrumb hide-on-small-only">
    <a href="{{ url_for('index') }}">Home</a> &gt;
    <a href="{{ url_for('shows_index') }}">Shows</a>
</div>

<h1>Panel Gender Mix</h1>

{% if years %}
<p>
    This chart displays the gender mix of the panels broken out by year.
</p>

<p class="hide-on-large-only">
    Note: This chart is best viewed in landscape mode on mobile and tablet devices.
</p>

<canvas id="chart"></canvas>
<script>
    // Set the chart background based on prefers-color-scheme
    Chart.plugins.register({
        beforeDraw: function(chartInstance) {
            var ctx = chartInstance.chart.ctx;
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                ctx.fillStyle = '#202124';
            } else {
                ctx.fillStyle = '#fff';
            }
            ctx.fillRect(0, 0, chartInstance.chart.width, chartInstance.chart.height);
        }
    });

    // Define chart data and draw settings
    var barChartData = {
        labels: {{ years|safe }},
        datasets: [{
            label: '0F / 3M',
            backgroundColor: '#ffc000',
            data: {{ panel_0f|safe }}
        }, {
            label: '1F / 2M',
            backgroundColor: '#1170aa',
            data: {{ panel_1f|safe }}
        }, {
            label: '2F / 1M',
            backgroundColor: '#fc7d0b',
            data: {{ panel_2f|safe }}
        }, {
            label: '3F / 0M',
            backgroundColor: '#70ad47',
            data: {{ panel_3f|safe }}
        }]
    };

    // Set up and render the chart
    window.onload = function() {
        // Override chart defaults
        Chart.defaults.global.defaultFontFamily = "'IBM Plex Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif";
        Chart.defaults.global.defaultFontSize = 16;
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            // Dark Mode
            Chart.defaults.global.defaultFontColor = '#f5f5f5';
            var gridLinesColor = '#616161';
        } else {
            // Light Mode
            Chart.defaults.global.defaultFontColor = '#212121';
            var gridLinesColor = '#9e9e9e';
        }

        // Render chart
        var ctx = document.getElementById('chart');
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                animation: { duration: 0 },
                aspectRatio: 1.618034,
                hover: { animationDuration: 150 },
                layout: {
                    padding: {
                        top: 30,
                        right: 15,
                        bottom: 10,
                        left: 15
                    }                
                },
                legend: {
                    labels: { fontSize: 18 },
                    position: 'bottom'
                },
                responsive: true,
                responsiveAnimationDuration: 0,
                scales: {
                    xAxes: [{
                        gridLines: { color: gridLinesColor },
                        scaleLabel: {
                            display: true,
                            labelString: 'Year',
                            fontSize: 18,
                            fontStyle: 'bold'
                        },
                        stacked: true,
                        ticks: {
                            minRotation: 45,
                            maxRotation: 45
                        },
                    }],
                    yAxes: [{
                        gridLines: { color: gridLinesColor },
                        scaleLabel: {
                            display: true,
                            labelString: 'Shows',
                            fontSize: 18,
                            fontStyle: 'bold'
                        },
                        stacked: true
                    }]
                },
                title: {
                    display: true,
                    fontSize: 20,
                    fontStyle: 'bold',
                    text: 'Panel Gender Mix'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                    titleFontStyle: 'bold'
                }
            }
        });
    };
    </script>
{% else %}
<p>
    No panel data available.
</p>
{% endif %}

{% endblock %}
