{% extends "base.html" %}
{% set page_title="Home vs Away" %}
{% block title %}{{ page_title }} | Locations{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('locations.index') }}">Locations</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<h2>{{ page_title }}</h2>

{% if years and home and away and studios %}
<p>
    A list of the number of shows recorded at home (any venue or studio located in
    Chicago, Illinois), away, and at home/remote studios for each year.
</p>

<div class="info py-2">
    <div id="ww-chart"></div>
</div>

<script>
    // Set default colors and font list
    let axisColor = "#000";
    let backgroundColor = "#fff";
    let colorway = {{ colorway_light | safe }};
    let fontList = "'IBM Plex Sans', 'Helvetica Neue', sans-serif";

    // Change colors if in dark mode
    const getStoredTheme = () => localStorage.getItem("theme");
    const storedTheme = getStoredTheme();
    if ((window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) && (storedTheme === "dark" || storedTheme === "auto")) {
        axisColor = "#fff";
        backgroundColor = "#161616"; // IBM Gray 100
        colorway = {{ colorway_dark | safe }};
    }

    let showYears = {{ years | safe }};
    let data = [
        {
            x: showYears,
            y: {{ home | safe }},
            name: "Home",
            type: "bar"
        },
        {
            x: showYears,
            y: {{ away | safe }},
            name: "Away",
            type: "bar"
        },
        {
            x: showYears,
            y: {{ studios | safe }},
            name: "Studios",
            type: "bar"
        }
    ];

    let layout = {
        autosize: true,
        barmode: "stack",
        colorway: colorway,
        font: { family: fontList },
        hoverlabel: {
            font: {
                family: fontList,
                size: 16
            },
        },
        hovermode: "x",
        legend: {
            font: {
                color: axisColor,
                family: fontList,
                size: 16
            },
            traceorder: "normal",
            orientation: "h",
            y: 1.025,
            x: 0,
        },
        margin: {
            l: 60,
            r: 40,
            t: 48,
            b: 90
        },
        paper_bgcolor: backgroundColor,
        plot_bgcolor: backgroundColor,
        showlegend: true,
        title: {
            automargin: true,
            font: {
                color: axisColor,
                size: 20
            },
            pad: {
                t: 6
            },
            text: "{{ page_title }}",
            x: 0.01
        },
        xaxis: {
            color: axisColor,
            showspikes: true,
            spikecolor: axisColor,
            spikedash: "dot",
            spikemode: "across",
            spikethickness: 1,
            tickangle: -45,
            tickfont: { size: 14 },
            title: {
                font: { size: 18 },
                text: "Year"
            },
            type: "category"
        },
        yaxis: {
            color: axisColor,
            dtick: 10,
            fixedrange: true,
            range: [0, 55],
            showline: true,
            tickfont: { size: 16 },
            title: {
                font: { size: 18 },
                text: "Shows"
            }
        }
    };

    let config = {
        displaylogo: false,
        modeBarButtonsToRemove: [
            "zoomIn2d",
            "zoomOut2d"
        ],
        responsive: true,
        toImageButtonOptions: {
            filename: "home-vs-away",
            height: 800,
            scale: 1,
            width: 1200
        }
    };

    Plotly.newPlot("ww-chart", data, layout, config);
</script>
{% else %}
<p>
    No panel data available.
</p>
{% endif %}

{% endblock %}
