{% extends "base.html" %}
{% set page_title="Scores by Appearance" %}
{% block title %}{{ info.name }} | {{ page_title }} | Panelists{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.scores_by_appearance') }}">{{ page_title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ info.name }}</li>
    </ol>
</nav>

<h2>{{ page_title }}: {{ info.name }}</h2>

{% if shows and scores %}
<p>
    This chart displays scores for all of
    <a href="{{ stats_url }}/panelists/{{ info.slug }}">{{ info.name }}'s</a>
    reguar show appearances. Regular shows exclude Best Of, repeat and repeat
    Best Of shows.
</p>

<div class="info py-2">
    <div id="ww-chart"></div>
</div>

<script>
    // Set default colors
    let axisColor = "#000000";
    let backgroundColor = {{ chart_background_light | safe }};
    let colorway = {{ colorway_light | safe }};
    let fontList = "'IBM Plex Sans', 'Helvetica Neue', sans-serif";

    // Change colors if in dark mode (stored theme overrides prefers-color-scheme)
    const getStoredTheme = () => localStorage.getItem("theme");
    const storedTheme = getStoredTheme();
    let lightMode = storedTheme === "light" || ((storedTheme === "light" || storedTheme === "auto") && (window.matchMedia && window.matchMedia("(prefers-color-scheme: light)").matches));
    let darkMode = storedTheme === "dark" || ((storedTheme === "dark" || storedTheme === "auto") && (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches));
    let darkContrastMode = storedTheme === "dark-contrast";
    let retroMode = storedTheme === "retro";
    if (darkMode || darkContrastMode) {
        axisColor = "#ffffff";
        backgroundColor = {{ chart_background_dark | safe }};
        colorway = {{ colorway_dark | safe }};
    } else if (retroMode) {
        backgroundColor = {{ chart_background_retro | safe }};
        colorway = {{ colorway_retro | safe }};
        fontList = "'IBM Plex Serif', serif";
    };

    let data = [
        {
            x: {{ shows | safe }},
            y: {{ scores | safe }},
            name: "Score",
            showlegend: true,
            type: "bar"
        }
    ];

    let layout = {
        autosize: true,
        colorway: colorway,
        font: { family: fontList },
        hoverlabel: {
            font: {
                color: axisColor,
                family: fontList,
                size: 16
            },
        },
        hovermode: "x unified",
        margin: {
            l: 96,
            r: 64,
            t: 64,
            b: 112
        },
        paper_bgcolor: backgroundColor,
        plot_bgcolor: backgroundColor,
        showlegend: false,
        title: {
            automargin: true,
            font: {
                color: axisColor,
                size: 20
            },
            pad: {
                t: 16
            },
            text: "{{ page_title }}: {{ info.name | safe }}",
            x: 0.01
        },
        xaxis: {
            color: axisColor,
            nticks: 12,
            showspikes: true,
            spikecolor: axisColor,
            spikedash: "dot",
            spikemode: "across",
            spikethickness: 1,
            tickangle: -45,
            tickfont: { size: 14 },
            title: {
                font: { size: 18 },
                text: "Show"
            },
            type: "category"
        },
        yaxis: {
            color: axisColor,
            dtick: 5,
            fixedrange: true,
            showline: true,
            tickfont: { size: 16 },
            range: [0, 30],
            title: {
                font: { size: 18 },
                text: "Score"
            }
        }
    };

    let config = {
        displaylogo: false,
        modeBarButtonsToRemove: [
            "autoScale2d",
            "lasso2d",
            "select2d",
        ],
        responsive: true,
        scrollZoom: true,
        toImageButtonOptions: {
            filename: "scores-by-appearance-{{ info.slug }}",
            height: 800,
            scale: 1,
            width: 1200
        }
    };

    Plotly.newPlot("ww-chart", data, layout, config);
</script>
{% else %}
<p>
    Not enough scoring data is available for {{ info.name }} to
    generate a graph.
</p>
{% endif %}

{% endblock %}
