{% extends "base.html" %}
{% set page_title="Scores by Appearance" %}
{% block title %}{{ info.name }} | {{ page_title }} | Panelists{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.scores_by_appearance') }}">{{ page_title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ info.name }}</li>
    </ol>
</nav>

<h2>{{ page_title }}: {{ info.name }}</h2>

{% if shows and scores %}
<p>
    This chart displays scores for all of
    <a href="{{ stats_url }}/panelists/{{ info.slug }}">{{ info.name }}'s</a>
    appearances, excluding Best Of and repeat shows.
</p>

<div class="info py-2">
    <div id="ww-chart"></div>
</div>

<script>
    // Set default colors
    let axisColor = "#000";
    let backgroundColor = "#fff";
    let markerColor = "#0043ce"; // IBM Blue 70
    let colorway = {{ colorway_light | safe }};
    let fontList = "'IBM Plex Sans', 'Helvetica Neue', sans-serif";

    // Change colors if in dark mode
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        axisColor = "#fff";
        backgroundColor = "#161616"; // IBM Gray 100
        markerColor = "#78a9ff"; // IBM Blue 40
        colorway = {{ colorway_dark | safe }};
    }

    let data = [
        {
            x: {{ shows | safe }},
            y: {{ scores | safe }},
            name: "Score",
            showlegend: true,
            type: "bar"
        }
    ];

    let layout = {
        autosize: true,
        colorway: colorway,
        font: { family: fontList },
        hoverlabel: {
            font: {
                family: fontList,
                size: 16
            },
        },
        hovermode: "x",
        legend: {
            font: {
                color: axisColor,
                family: fontList,
                size: 16
            },
            orientation: "h",
            y: 1.025,
            x: 0,
        },
        margin: {
            l: 60,
            r: 40,
            t: 48,
            b: 92
        },
        paper_bgcolor: backgroundColor,
        plot_bgcolor: backgroundColor,
        title: {
            font: {
                color: axisColor,
                size: 20
            },
            text: "{{ page_title }}: {{ info.name | safe }}"
        },
        xaxis: {
            color: axisColor,
            nticks: 12,
            showspikes: true,
            spikecolor: axisColor,
            spikedash: "dot",
            spikemode: "across",
            spikethickness: 1,
            tickangle: -45,
            tickfont: { size: 14 },
            title: {
                font: { size: 18 },
                text: "Show"
            },
            type: "category"
        },
        yaxis: {
            color: axisColor,
            dtick: 2,
            fixedrange: true,
            tickfont: { size: 16 },
            range: [0, 28],
            title: {
                font: { size: 18 },
                text: "Score"
            }
        }
    };

    let config = {
        displaylogo: false,
        modeBarButtonsToRemove: [
            "zoomIn2d",
            "zoomOut2d"
        ],
        responsive: true,
        toImageButtonOptions: {
            filename: "scores-by-appearance-{{ info.slug }}",
            height: 800,
            scale: 1,
            width: 1200
        }
    };

    Plotly.newPlot("ww-chart", data, layout, config);
</script>
{% else %}
<p>
    Not enough scoring data is available for {{ info.name }} to
    generate a graph.
</p>
{% endif %}

{% endblock %}
