{% extends "base.html" %}
{% set page_title = "Scores by Appearance" %}
{% block title %}{{ page_title }} | Panelists{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>

<h2>{{ page_title }}</h2>
<p>
    Choose from one of the panelists below to view a chart displaying
    their scores for each of their appearances on regular shows. Regular shows
    excludes Best Of, repeat and repeat Best Of shows.
</p>

<div class="info">
    <div class="pages">
        <ul class="list-group name-list">
            {% for panelist in panelists %}
            <li class="list-group-item">
                <a href="{{ url_for('panelists.scores_by_appearance_details', panelist=panelist.slug) }}">{{ panelist.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
