{% extends "base.html" %}
{% block title %}Panel Gender Mix | Shows{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('shows.index') }}">Shows</a></li>
        <li class="breadcrumb-item active" aria-current="page">Panel Gender Mix</li>
    </ol>
</nav>

<h2>{{ page_title }}</h2>

{% if years %}
<p>
    This chart displays the gender mix of the panels broken out by year.
</p>

<div class="info py-2">
    <div id="ww-chart"></div>
</div>

<script>
    // Set default colors and font list
    let axisColor = "#000";
    let backgroundColor = "#fff";
    let colorway = [
        "#0043ce",
        "#ffc000",
        "#ff7f0e",
        "#198038"
    ];
    let fontList = "'IBM Plex Sans', 'Helvetica Neue', sans-serif";

    // Change colors if in dark mode
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        axisColor = "#fff";
        backgroundColor = "#161616";
        colorway = [
            "#78a9ff",
            "#ffc000",
            "#ff7f0e",
            "#6fdc8c"
        ];
    }

    let showYears = {{ years | safe }};
    let data = [
        {
            x: showYears,
            y: {{ panel_0f | safe }},
            name: "0W / 3M",
            type: "bar"
        },
        {
            x: showYears,
            y: {{ panel_1f | safe }},
            name: "1W / 2M",
            type: "bar"
        },
        {
            x: showYears,
            y: {{ panel_2f | safe }},
            name: "2W / 1M",
            type: "bar"
        },
        {
            x: showYears,
            y: {{ panel_3f | safe }},
            name: "3W / 0M",
            type: "bar"
        }
    ];

    let layout = {
        autosize: true,
        barmode: "stack",
        colorway: colorway,
        font: { family: fontList },
        hoverlabel: {
            font: {
                family: fontList,
                size: 16
            },
        },
        hovermode: "x",
        legend: {
            font: {
                color: axisColor,
                family: fontList,
                size: 16
            },
            traceorder: "normal",
            orientation: "h",
            y: 1.025,
            x: 0,
        },
        margin: {
            l: 60,
            r: 40,
            t: 48,
            b: 90
        },
        paper_bgcolor: backgroundColor,
        plot_bgcolor: backgroundColor,
        showlegend: true,
        title: {
            font: {
                color: axisColor,
                size: 20
            },
            text: "Panel Gender Mix"
        },
        xaxis: {
            color: axisColor,
            showspikes: true,
            spikecolor: axisColor,
            spikedash: "dot",
            spikemode: "across",
            spikethickness: 1,
            tickangle: -45,
            tickfont: { size: 14 },
            title: {
                font: { size: 18 },
                text: "Year"
            },
            type: "category"
        },
        yaxis: {
            color: axisColor,
            dtick: 5,
            fixedrange: true,
            range: [0, 60],
            tickfont: { size: 16 },
            title: {
                font: { size: 18 },
                text: "Shows"
            }
        }
    };

    let config = {
        displaylogo: false,
        modeBarButtonsToRemove: [
            "zoomIn2d",
            "zoomOut2d"
        ],
        responsive: true,
        toImageButtonOptions: {
            filename: "panel-gender-mix",
            height: 800,
            scale: 1,
            width: 1200
        }
    };

    Plotly.newPlot("ww-chart", data, layout, config);
</script>
{% else %}
<p>
    No panel data available.
</p>
{% endif %}

{% endblock %}
