{% extends "base.html" %}
{% set page_title = "Appearances by Year" %}
{% block title %}{{ info.name }} | {{ page_title }} | Panelists{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" id="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.index') }}">Panelists</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('panelists.appearances_by_year') }}">{{ page_title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ info.name }}</li>
    </ol>
</nav>

<h2>{{ page_title }}: {{ info.name }}</h2>

{% if years %}
<p>
    This chart displays the number of times
    <a href="{{ stats_url }}/panelists/{{ info.slug }}">{{ info.name }}</a>
    has made an appearance on regular shows broken down by year. Regular shows
    do not include Best Of, repeat and repeat Best Of shows.
</p>

<div class="info py-2">
    <div id="ww-chart"></div>
</div>

<script>
    // Set default colors
    let axisColor = "#000";
    let backgroundColor = "#fff";
    let markerColor = "#0043ce"; // IBM Blue 70
    let colorway = {{ colorway_light | safe }};
    let fontList = "'IBM Plex Sans', 'Helvetica Neue', sans-serif";

    // Change colors if in dark mode (stored theme overrides prefers-color-scheme)
    const getStoredTheme = () => localStorage.getItem("theme");
    const storedTheme = getStoredTheme();
    let lightMode = storedTheme === "light" || ((storedTheme === "light" || storedTheme === "auto") && (window.matchMedia && window.matchMedia("(prefers-color-scheme: light)").matches));
    let darkMode = storedTheme === "dark" || ((storedTheme === "dark" || storedTheme === "auto") && (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches));
    let retroMode = storedTheme === "retro";
    if (darkMode) {
        axisColor = "#fff";
        backgroundColor = "#161616"; // IBM Gray 100
        markerColor = "#78a9ff"; // IBM Blue 40
        colorway = {{ colorway_dark | safe }};
    } else if (retroMode) {
        backgroundColor = "#c0c0c0";
        colorway = {{ colorway_retro | safe }};
        fontList = "'IBM Plex Serif', serif";
    }

    // Set y-axis dtick value
    let yAxisdTick = 1;
    let appearanceCounts = {{ count | safe }};
    let maxCount = Math.max.apply(Math, appearanceCounts);
    if (maxCount >= 50) {
        yAxisdTick = 10;
    } else if (maxCount >= 15) {
        yAxisdTick = 5;
    } else if (maxCount >= 5) {
        yAxisdTick = 2;
    }

    let data = [
        {
            x: {{ years | safe }},
            y: appearanceCounts,
            name: "Appearances",
            showlegend: true,
            type: "bar"
        }
    ];

    let layout = {
        autosize: true,
        colorway: colorway,
        font: { family: fontList },
        hoverlabel: {
            font: {
                family: fontList,
                size: 16
            },
        },
        hovermode: "x",
        margin: {
            l: 60,
            r: 40,
            t: 48,
            b: 68
        },
        paper_bgcolor: backgroundColor,
        plot_bgcolor: backgroundColor,
        showlegend: false,
        title: {
            automargin: true,
            font: {
                color: axisColor,
                size: 20
            },
            pad: {
                t: 6
            },
            text: "{{ page_title }}: {{ info.name | safe }}",
            x: 0.01
        },
        xaxis: {
            color: axisColor,
            showspikes: true,
            spikecolor: axisColor,
            spikedash: "dot",
            spikemode: "across",
            spikethickness: 1,
            tickangle: -45,
            tickfont: { size: 16 },
            tickmode: "linear",
            title: {
                font: { size: 18 },
                text: "Year"
            }
        },
        yaxis: {
            dtick: yAxisdTick,
            color: axisColor,
            fixedrange: true,
            showline: true,
            tickfont: { size: 16 },
            title: {
                font: { size: 18 },
                text: "Appearances"
            }
        }
    };

    let config = {
        displaylogo: false,
        modeBarButtonsToRemove: [
            "autoScale2d",
            "lasso2d",
            "select2d",
        ],
        responsive: true,
        toImageButtonOptions: {
            filename: "appearances-by-year-{{ info.slug }}",
            height: 800,
            scale: 1,
            width: 1200
        }
    };

    Plotly.newPlot("ww-chart", data, layout, config);
</script>
{% else %}
<p>
    Not enough scoring data is available for {{ info.name }} to
    generate a graph.
</p>
{% endif %}

{% endblock %}
