{% extends "base.html" %}
{% set page_title="Counts by Day of Month" %}
{% block title %}{{ page_title }} | Shows{% endblock %}

{% block content %}
<div class="page-breadcrumb hide-on-small-only">
    <ul>
        <li>
            <a href="{{ url_for('main.index') }}">Home</a>
        </li>
        <li>
            <a href="{{ url_for('shows.index') }}">Shows</a>
        </li>
        <li>
            {{ page_title }}
        </li>
    </ul>
</div>

<h1>{{ page_title }}</h1>
<p>
    Choose from one of the months below to view the counts of shows by day of
    month for each calendar month.
</p>

<ul class="collection">
    <li class="collection-item">
        <a href="{{ url_for('shows.counts_by_day_of_month_all') }}">All</a>
    </li>
    {% for month in months %}
    <li class="collection-item">
        <a href="{{ url_for('shows.counts_by_day_of_month_by_month', month=month) }}">{{ months[month] }}</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
